{
  "proseWrap": "never",
  "semi": true,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "printWidth": 120,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": ["^@", "^[^/]*$", "<THIRD_PARTY_MODULES>", "^../.*", "^[.]"],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}